<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{% block title %}Congrès du Parti de Gauche{% endblock %}</title>
        {% block stylesheets %}
        <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css" rel="stylesheet">
        <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
        <link rel="stylesheet" href="{{ asset('css/main.css') }}" />
        {% endblock %}

        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
        <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="sr-only">Menu</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="{{path('homepage')}}">
                        <img src="{{ asset('img/logo.png') }}" alt="Logo du Parti de Gauche"/>
                    </a>
                </div>
                <div class="collapse navbar-collapse">
                    {% block navbar %}
                    <ul class="nav navbar-nav">
                        {% block navLinks %}
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Programme<span class="caret"></span></a>
                            <ul class="dropdown-menu" role="menu">
                                <li>
                                    <a href="{{ path('downloads', {filename: 'PROGRAMMERM2015H.pdf'}) }}">
                                        Programme complet
                                    </a>
                                </li>
                                <li>
                                    <a href="{{ path('downloads', {filename: 'Prog prévisionnel RM PAPEP 2015.pdf'}) }}">
                                        Parcours assemblées citoyennes
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a href="{{ path('downloads', {filename: 'CommentVenirauRM.pdf'}) }}">
                                Comment venir&nbsp;?
                            </a>
                        </li>
                        {% if is_granted('ROLE_USER') %}
                        <li>
                            <a href="{{ path('event_registration_create', {event_id: 5}) }}">
                                S'inscrire
                            </a>
                        </li>
                        {% endif %}
                    </ul>
                    {% endblock %}
                    <ul class="nav navbar-nav navbar-right">
                        {% if is_granted('ROLE_ADMIN') %}
                        <li><a href="{{ path('sonata_admin_dashboard') }}">Administration</a></li>
                        {% endif %}
                        {% if is_granted('ROLE_USER') %}
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Mon compte ({{ app.user.email }})<span class="caret"></span></a>
                            <ul class="dropdown-menu" role="menu">
                                <li><a href="{{ path('event_adherent_registration_list') }}">Mes inscriptions</a></li>
                                <li><a href="{{ path('adherent_profile') }}">Mon profil</a></li>
                                <li><a href="{{ path('non_adherent_register') }}">Compléter mes informations</a></li>
                                <li><a href="{{ path('fos_user_change_password') }}">Changer de mot de passe</a></li>
                            </ul>
                        </li>
                        <li><a href="{{ path('fos_user_security_logout') }}">Déconnexion</a></li>
                        {% else %}
                        <li><a href="{{ path('fos_user_registration_register') }}">Créer un compte</a></li>
                        <li><a href="{{ path('fos_user_security_login') }}">Connexion</a></li>
                        {% endif %}
                    </ul>
                    {% endblock %}
                </div><!--/.nav-collapse -->
            </div>
        </div>
        {% block body %}{% endblock %}
        {% block javascripts %}
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
        <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
        {% endblock %}
    </body>
</html>
