<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{% block title %}Congrès du Parti de Gauche{% endblock %}</title>
        {% block stylesheets %}
        <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css" rel="stylesheet">
        <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">

        <link rel="stylesheet" href="{{ asset('css/main.css') }}" />
        {% endblock %}

        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
        <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="sr-only">Menu</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="{{path('homepage')}}">
                        <img src="{{ asset('img/logo.png') }}" alt="Logo du Parti de Gauche"/>
                    </a>
                </div>
                <div class="collapse navbar-collapse">
                    {% block navbar %}
                    <ul class="nav navbar-nav">
                        {% block navLinks %}
                        {% if is_granted('ROLE_USER') %}
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Règlement intérieur <span class="caret"></span></a>
                            <ul class="dropdown-menu" role="menu">
                                <li><a href="{{ path('downloads', {filename: 'RI Congrès 2015 phases 2 et 3 adopté CN.pdf'}) }}">Phases 2 &amp; 3</a></li>
                                <li><a href="{{ path('downloads', {filename: 'Règlement Intérieur - Phase 1.pdf'}) }}">Phase 1</a></li>
                            </ul>
                        </li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown"
                                role="button" aria-expanded="false">Plateformes <span class="caret"></span></a>
                            <ul class="dropdown-menu" role="menu">
                                <li>
                                    <a href="{{ path('downloads', {filename: 'Tout est possible.pdf'}) }}">
                                        Tout est possible
                                    </a>
                                </li>
                                <li>
                                    <a href="{{ path('downloads', {filename: 'Clarté et courage politique.pdf'}) }}">
                                        Clarté et courage politique
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown"
                                                                role="button" aria-expanded="false">Autres textes<span class="caret"></span></a>
                            <ul class="dropdown-menu" role="menu">
                                <li>
                                    <a href="{{ path('downloads', {filename: 'RI du PG modifié.pdf'}) }}">
                                        R.I. du PG modifi&eacute;
                                    </a>
                                </li>
                                <li>
                                    <a href="{{ path('downloads', {filename: 'Statuts du PG modifiés.pdf'}) }}">
                                        Statuts du PG modifi&eacute;s
                                    </a>
                                </li>
                                <li>
                                    <a href="{{ path('downloads', {filename: 'Les 100 premiers jours.pdf'}) }}">
                                        Les 100 premiers jours
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown"
                                                                role="button" aria-expanded="false">Commissions<span class="caret"></span></a>
                            <ul class="dropdown-menu" role="menu">
                                <li>
                                    <a href="{{ path('commission_votes') }}">
                                        Commission des votes
                                    </a>
                                </li>
                                <li>
                                    <a href="{{ path('commission_debats') }}">
                                        Commission des débats
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Contributions <span class="caret"></span></a>
                            <ul class="dropdown-menu" role="menu">
                                {% if is_granted('CALENDAR_contribution_read') %}
                                <li><a href="{{ path('contribution_list_valid') }}">Contributions validées</a></li>
                                {% endif %}
                            </ul>
                        </li>
                        {% endif %}
                    </ul>
                    {% endblock %}
                    <ul class="nav navbar-nav navbar-right">
                        {% if is_granted('ROLE_ADMIN') %}
                        <li><a href="{{ path('sonata_admin_dashboard') }}">Administration</a></li>
                        {% endif %}
                        {% if is_granted('ROLE_USER') %}
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Mon compte ({{ app.user.email }})<span class="caret"></span></a>
                            <ul class="dropdown-menu" role="menu">
                                <li><a href="{{ path('text_user_list') }}">Mes textes</a></li>
                                <li><a href="{{ path('event_adherent_registration_list') }}">Mes
inscriptions</a></li>
                                <li><a href="{{ path('adherent_profile') }}">Mon profil</a></li>
                                <li><a href="{{ path('fos_user_change_password') }}">Changer de mot de passe</a></li>
                            </ul>
                        </li>
                        <li><a href="{{ path('fos_user_security_logout') }}">Déconnexion</a></li>
                        {% else %}
                        <li><a href="{{ path('fos_user_registration_register') }}">Inscription</a></li>
                        <li><a href="{{ path('fos_user_security_login') }}">Connexion</a></li>
                        {% endif %}
                    </ul>
                    {% endblock %}
                </div><!--/.nav-collapse -->
            </div>
        </div>
        {% block body %}{% endblock %}
        {% block javascripts %}
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
        <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
        {% endblock %}
    </body>
</html>
