{% extends 'base.html.twig' %}

{% block body %}
<div class="container">
    <div class="row">
        <div>
            <h3>Candidature aux instances à élire ou compléter au CN</h3>
            <p>
              Pour vous porter candidat-e aux instances à élire ou à compléter
              lors du prochain Conseil national (voir mails envoyés à ce sujet),
              merci de remplir le <a href="{{ path('candidature_create') }}">
                formulaire
              </a> avec votre profession de foi.
              Pour être candidat-e il faut être à jour de cotisation et remplir
              les conditions statutaires d'ancienneté.
            </p>
            <h3>Inscriptions au Conseil National</h3>
            <p>
              <b>L’inscription est obligatoire et s’effectue par le biais du formulaire individuel prévu à cet effet.</b>
                <a href="{{ path('event_registration_create', { event_id: 7 }) }}">
                    Cliquez ici pour vous inscrire au Conseil National du 31 octobre 2015.
                </a>
            </p>
            <p>
              Merci de remplir tous les champs, en précisant votre rôle (titulaire, suppléant-e, responsable de commission, équipe d’organisation…)
            </p>
            <p>
              Pour toute question concernant l'inscription, vous pouvez contacter Marie-Pierre Oprandi : mpoprandi@yahoo.fr ou 06 88 95 51 84
            </p>
            <h3>Renouvellement des instances départementales</h3>
            <p>
                Vous trouverez ci-dessous le lien vers le formulaire pour enregistrer
                le <a href="{{ path('departmental_election_result') }}">
                     renouvellement de vos instances départementales
                 </a> et
                de votre délégation au CN.
                Merci à chaque département de le remplir, même si vous avez déjà
                envoyé votre PV de vote à echanges.dep@lepartidegauche.fr
            </p>
            <p>
                L'accès au formulaire est réservé aux co-secrétaires sortants de chaque département.
                Merci de remplir tous les champs, et notamment de préciser aussi
                les noms de vos responsables départementaux sortants.
                Envoyez ensuite vos PV de vote à echanges.dep@lepartidegauche.fr
            </p>
            <p>
            Pour toute question technique ou demande d'ouverture d'un accès
            supplémentaire, merci de contacter Marie-Pierre Oprandi : mpoprandi@yahoo.fr ou 06 88 95 51 84
            </p>
        </div>
        <div>
            <h3>Retour sur le congrès&nbsp;: textes adoptés</h3>
            <ul>
                <li>
                    <a href="{{ path('downloads', {filename: 'EnMouvementCitoyen_ne_s_version def.pdf'}) }}">
                        En mouvement, citoyen-ne-s&nbsp;!
                    </a>
                </li>
                <li>
                    <a href="{{ path('downloads', {filename: 'Statuts version def.doc.pdf'}) }}">
                        Statuts
                    </a>
                </li>
                <li>
                    <a href="{{ path('downloads', {filename: 'RI version def.pdf'}) }}">
                        Réglement intérieur
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <div class="row">
        <div class="alert alert-warning text-justify" role="alert">
            <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
            L'équipe de développeurs bénévoles a besoin de se renforcer ! N'hésitez pas à envoyer un e-mail à
            congres2015@lepartidegauche.fr si vous pouvez aider. L'application est codée en PHP sous Symfony
            2.6. Le code source est entièrement disponible <a href="https://github.com/LePartiDeGauche/congres">ici</a>.
        </div>
    </div>
{% endblock %}
