{% extends 'base.html.twig' %}

{% block body %}
<div class="container">
    <div class="row">

        <div class="col-md-8">
            {% if pageShow is empty %}
            <p>Pas de contenu</p>
            {% else %}
                {% for page in pageShow %}
                    <h3>{{ page.title }}</h3>
                    {{ page.content|raw }}
                {% endfor %}
            {% endif %}
        </div><!-- .col-md-8 -->

        <div class="col-md-4">
            {{ render(controller('AppBundle:AmendmentProcess:fragmentList')) }}
        </div><!-- .col-md-4 -->

        <div class="col-md-4">
            {{ render(controller('AppBundle:Election:fragmentList')) }}
        </div><!-- .col-md-4 -->

        <div class="col-md-4">
            {{ render(controller('AppBundle:Event:fragmentList')) }}
        </div><!-- .col-md-4 -->

        <div class="col-md-4">
            {{ render(controller('AppBundle:CandidatureCall:fragmentList')) }}
        </div><!-- .col-md-4 -->

        <div class="col-md-4">
            {{ render(controller('AppBundle:Text:_list')) }}
        </div><!-- .col-md-4 -->

    </div>
    <div class="row">
        <div class="alert alert-warning text-justify" role="alert">
            <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
            L'équipe de développeurs a besoin de se renforcer ! N'hésitez pas à envoyer un e-mail à
            accueil@lepartidegauche.fr si vous pouvez aider. L'application est codée en PHP à l'aide de Symfony.
            Le code source est entièrement disponible <a href="https://github.com/LePartiDeGauche/congres">ici</a>.
        </div>
    </div>
{% endblock %}
