{% extends "FOSUserBundle::layout.html.twig" %}

{% block fos_user_content %}

<div class="row">
<h1>Connexion</h1>
<p class="text-muted">Saisir vos identifiants</p>
    {% if error %}
        <div class="alert alert-danger" role="alert">
            <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
            <span class="sr-only">Error:</span>
            {{ error.messageKey|trans(error.messageData, 'security') }}
        </div>
    {% endif %}

    <form action="{{ path("fos_user_security_check") }}" method="post">
        <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />
        <div class="form-group">
            <label for="username">
                {{ 'form.email'|trans({}, 'FOSUserBundle') }}
            </label>
            <input type="text" class="form-control" id="username" name="_username" value="{{ last_username }}" required="required" />
        </div>

        <div class="form-group">
            <label for="password">{{ 'security.login.password'|trans({}, 'FOSUserBundle') }}</label>
            <input type="password" class="form-control" id="password" name="_password" required="required" />
            <div class="small text-right">
                <a href="{{ path("fos_user_resetting_request") }}">Mot de passe oublié</a>
            </div>
        </div>

        <div class="form-group">
            <label>
                <input type="checkbox" id="remember_me" name="_remember_me" value="on" />
                {{ 'security.login.remember_me'|trans({}, 'FOSUserBundle') }}
            </label>
        </div>

        <input type="submit" class="btn btn-default" id="_submit" name="_submit" value="{{ 'security.login.submit'|trans({}, 'FOSUserBundle') }}" />
    </form>
</div>
<div class="row">
    <div class="alert alert-info text-justify" role="alert">
        <span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span>
        Si vous ne vous êtes jamais connecté, il faut vous inscrire en utilisant
        le lien inscription en haut à droite.
    </div>
</div>
{% endblock fos_user_content %}
