{% extends '::base.html.twig' %}

{% block title %}Liste des textes de {{adherent.firstname}} {{ adherent.lastname }}{% endblock %}
{% block javascripts %}
{{ parent() }}
<script type="text/javascript" src="{{ asset('js/jquery.tablesorter.min.js') }}"></script>
<script type="text/javascript">
$(document).ready(function() 
        { 
            $(".tablesorter").tablesorter({ 
                cssAsc: "glyphicon glyphicon-sort-by-attributes-alt",
                cssDesc: "glyphicon glyphicon-sort-by-attributes",
            } 
            ); 
        } 
        ); 
</script>
{% endblock %}

{% block body %}
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h1>Inscriptions aux évenements de {{ adherent.firstname }} {{ adherent.lastname}}</h1>
            <table class="table tablesorter">
                <thead>
                    <tr>
                        <th>Évenement</th>
                        <th>Rôle</th>
                        <th>Paiement</th>
                    </tr>
                </thead>
                <tbody>
                    {% for eventReg in eventRegistrations %}
                    <tr>
                        <td>
                            <a href="{{ path('event_registration_show', {event_id:
                            eventReg.event.id, event_reg_id: eventReg.id}) }}">
                                {{eventReg.event.name }}
                            </a>
                        </td>
                        <td>
                            {{eventReg.role.name}}
                        </td>
                        <td>
                            <ul>

                                {% for payment in eventReg.payments %}
                                <li>Transaction n°{{payment.id}}, Montant: {{payment.amount}}€,
                                    {# FIXME : Change this way of display #}
                                    {% if  payment.status ==
                                    constant('\\AppBundle\\Entity\\Payment\\Payment::STATUS_NEW') %}
                                    Non effectué
                                    {% elseif  payment.status ==
                                    constant('\\AppBundle\\Entity\\Payment\\Payment::STATUS_PENDING') %}
                                    En cours de validation
                                    {% elseif  payment.status ==
                                    constant('\\AppBundle\\Entity\\Payment\\Payment::STATUS_REFUSED') %}
                                    Refusé
                                    {% elseif  payment.status ==
                                    constant('\\AppBundle\\Entity\\Payment\\Payment::STATUS_CANCELED') %}
                                    Annulé
                                    {% elseif  payment.status ==
                                    constant('\\AppBundle\\Entity\\Payment\\Payment::STATUS_BANKED') %}
                                    Validé
                                    {% endif%}
                                </li>
                                {%endfor%}
                            </ul>
                        </td>

                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div><!-- .col-md-12 -->
    </div><!-- .row -->
</div><!-- .container -->
{% endblock %}
