{% extends '::base.html.twig' %}

{% block title %}Liste des lieux de couchage{% endblock %}

{% block body %}

    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1>Liste des lieux de couchage</h1>
                <div role="tabpanel">
                    <div class="tab-content">
                        <div role="tabpanel" class="tab-pane active" id="validated">
                            {% if bedroomList is empty %}
                                <p>Pas de lieux</p>
                            {% else %}
                                <table class="table tablesorter" id="table_bedroom">
                                    <thead>
                                    <tr>
                                        <th>Nom</th>
                                        <th>Numéro de chambre</th>
                                        <th>Dispo à partir de </th>
                                        <th>Jusque</th>
                                        <th>Places libres</th>
                                        <th>S'inscrire</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for bedroom in bedroomList %}
                                        <tr>
                                            <td>
                                                {{ bedroom.roomType }}
                                            </td>
                                            <td>
                                                {{ bedroom.number }}
                                            </td>
                                            <td>
                                                {{ bedroom.dateStartAvailability|date('d/m/Y')}}
                                            </td>
                                            <td>
                                                {{ bedroom.dateStopAvailability|date('d/m/Y') }}
                                            </td>
                                            <td>
                                                {{ bedroom.roomType.places }}
                                            </td>
                                            <td>
                                                <a href="{{ path('sleeping_inscription', {id: bedroom.id}) }}">S'inscrire</a>
                                            </td>
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div><!-- .col-md-12 -->
        </div><!-- .row -->
    </div><!-- .container -->
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="//cdn.datatables.net/1.10.7/js/jquery.dataTables.min.js"></script>
    <script>$(document).ready(function(){
            $('#table_bedroom').DataTable({
                "lengthMenu": [ 25, 50, 75, 100 ]
            });
        });
    </script>
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link href="//cdn.datatables.net/1.10.7/css/jquery.dataTables.min.css" rel="stylesheet" />
{% endblock %}