{% extends '::base.html.twig' %}

{% block body -%}
<div class="container">
    <div class="row">
        <h1>Votre inscription à l'évenement {{event.name}}</h1>
        <p>
        {{event.description}}
        </p>
        <h2>Rôle</h2>
        <ul>
            <li>{{ eventRegistration.role }}</li>
        </ul>



        <h2>Hebergement</h2>
        {% if eventRegistration.needHosting %}
        Vous avez besoin d'un hébergement hôtel à proximité du lieu de {{event.name}}.
        {% else %}
        Vous n'avez pas besoin d'hébergement.
        {% endif %}

        <h2>Repas </h2>
        {% if eventRegistration.meals.count > 0 %}
        <ul>
            {% for meal in eventRegistration.meals %}
            <li>{{meal.name}}</li>
            {% endfor %}
        </ul>
        {% else %}
        Pas de repas
        {% endif %}
        <h2>Paiement</h2>
        <p>
        {% if payedAmount >= eventRegistration.cost.cost%}
        Vous avez payé votre participation de {{ eventRegistration.cost.cost}}
        {% else %}
        Vous n'avez pas payé l'intégralité de votre participation, <br />
        Reste à payer : <strong>{{eventRegistration.cost.cost - payedAmount}} €<br />
            {%if eventRegistration.paymentMode ==
            constant("\\AppBundle\\Entity\\Event\\EventAdherentRegistration::PAYMENT_MODE_ONLINE")%}
            <a href="{{ path('event_registration_new_payment', {event_id:
            event.id, event_reg_id: eventRegistration.id})
            }}">Effectuer un nouveau paiement</a>
            {% endif %}
            {% endif %}
        </strong>
        </p>

        <h3>Historique</h3>
        <table class="table">
            <thead>
                <tr>
                    <th>Transaction</th>
                    <th>Montant</th>
                    <th>Methode de paiement</th>
                    <th>Status</th>
                </tr>
            </thead>
            <tbody>
                {% for payment in eventRegistration.payments %}
                <tr>
                    <td>n°{{payment.id}}</td>
                    <td>{{payment.amount}}€</td>
                    <td>{{payment.method |trans }}</td>
                    <td>

                        {# FIXME : Change this way of display #}
                        {% if  payment.status ==
                        constant('\\AppBundle\\Entity\\Payment\\Payment::STATUS_NEW') %}
                        Non effectué
                        {% elseif  payment.status ==
                        constant('\\AppBundle\\Entity\\Payment\\Payment::STATUS_PENDING') %}
                        En cours de validation
                        {% elseif  payment.status ==
                        constant('\\AppBundle\\Entity\\Payment\\Payment::STATUS_REFUSED') %}
                        Refusé
                        {% elseif  payment.status ==
                        constant('\\AppBundle\\Entity\\Payment\\Payment::STATUS_CANCELED') %}
                        Annulé
                        {% elseif  payment.status ==
                        constant('\\AppBundle\\Entity\\Payment\\Payment::STATUS_BANKED') %}
                        Validé
                        {% endif%}
                    </td>
                </tr>
                {%endfor%}
            </tbody>
        </table>
        <h2>Commentaires</h2>
        {{ eventRegistration.comment }}
    </div><!-- .row -->
</div><!-- .container -->
{% endblock %}
