{% extends '::base.html.twig' %}

{% block body -%}
<h1>Votre inscription à l'évenement {{event.name}}</h1>

    <table class="record_properties">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ eventRegistration.id }}</td>
            </tr>
            <tr>
                <th>Needhosting</th>
                <td>{{ eventRegistration.needHosting }}</td>
            </tr>
            <tr>
                <th>Paymentmode</th>
                <td>{{ eventRegistration.paymentMode }}</td>
            </tr>
            <tr>
                <th>Registrationdate</th>
                <td>{{ eventRegistration.registrationDate|date('Y-m-d H:i:s') }}</td>
            </tr>
        </tbody>
    </table>
</ul>
{% endblock %}
