{% extends '::base.html.twig' %}
{% form_theme form 'bootstrap_3_layout.html.twig' %}

{% block title %}Rapporter un résultat d'élection départementale{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            <h1>Rapporter un résultar d'élection départemental</h1>
            <h3>Les champs marqués d'une étoile sont obligatoires</h3>
            {{ form_start(form) }}
            {{ form_errors(form) }}
            {{ form_widget(form) }}
            <input type="submit" />
            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent () }}
    {{ tinymce_init() }}
{% endblock %}
