{% extends '::base.html.twig' %}

{% block title %}Liste des Elections{% endblock %}

{% block body %}

    <div class="container">
        {% for flashMessage in app.session.flashbag.get('success') %}
            <div class="alert alert-success">
                {{ flashMessage }}
            </div>
        {% endfor %}
        <div class="row">
            <div class="col-md-12">
                <h1>Liste des Elections</h1>
                <div role="tabpanel">
                    <div class="tab-content">
                        <div role="tabpanel" class="tab-pane active" id="validated">
                            <h2>Elections</h2>
                            {% if electionList is empty %}
                                <p>Pas d'elections.</p>
                            {% else %}
                                <table class="table tablesorter" id="table_election">
                                    <thead>
                                    <tr>
                                        <th>Organe</th>
                                        <th>Lieu</th>
                                        <th>Responsable de l'élection</th>
                                        <th>Elus</th>
                                        <th>Election ouverte</th>
                                        <th>Rapporter le résultat</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for election in electionList %}
                                        <tr>
                                            <td>
                                                {{ election.group }}
                                            </td>
                                            <td>
                                                {{ election.organ }}
                                            </td>
                                            <td>
                                                {% for responsability in election.organ.designatedParticipants %}
                                                    {{ responsability.adherent }}
                                                {% endfor %}
                                            </td>
                                            <td>{{ election.elected|join(', ') }}</td>
                                            <td>{{ election.status }}</td>
                                            <td>
                                                {% if is_granted('ELECTION_REPORT', election) %}
                                                    <a href="{{ path('election_report', {id: election.id}) }}">Rapporter</a>
                                                {% endif %}
                                            </td>
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div><!-- .col-md-12 -->
        </div><!-- .row -->
    </div><!-- .container -->
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="//cdn.datatables.net/1.10.7/js/jquery.dataTables.min.js"></script>
    <script>$(document).ready(function(){
            $('#table_election').DataTable({
                "lengthMenu": [ 25, 50, 75, 100 ]
            });
        });
    </script>
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link href="//cdn.datatables.net/1.10.7/css/jquery.dataTables.min.css" rel="stylesheet" />
{% endblock %}