{% extends '::base.html.twig' %}

{% block title %}Résultat d'élection {{electionGroup.name}} par {{organ.name}}{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            <h1>Proces verbal pour {{electionGroup.name}} - {{organ.name}}</h1>
            <p class="small text-muted">
                Rapporteur :
                {{ election.electionResponsable }}
            </p>

            <ul>
                <li>Résultat : {{election.result}}</li>
            </ul>
        </div>
    </div>
{% endblock %}