{% extends '::base.html.twig' %}

{% form_theme form _self %}

{% block _appbundle_election_election_maleElectionResults_entry_row %}
<div class="form-group">
    <div class="col-sm-10">
        {{ form_widget(form.elected) }}
    </div>
    <div class="col-sm-2">
        {{ form_widget(form.numberOfVote) }}
    </div>
</div>
{% endblock %}

{% block _appbundle_election_election_femaleElectionResults_entry_row %}
<div class="form-group">
    <div class="col-sm-10">
        {{ form_widget(form.elected) }}
    </div>
    <div class="col-sm-2">
        {{ form_widget(form.numberOfVote) }}
    </div>
</div>
{% endblock %}

{% block title %}Rapporter un résultat d'élection {% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            <h1>Rapporter un résultat</h1>
            {% for flashMessage in app.session.flashbag.get('success') %}
                <div class="alert alert-success">
                    {{ flashMessage }}
                </div>
            {% endfor %}

            {{ form(form) }}

        </div>
        <a href="{{ path('election_list') }}">Retourner à la liste des élections</a>
    </div>
{% endblock %}
