{% extends '::base.html.twig' %}

{% block title %}Rapporter un résultat d'élection {% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            <h1>Rapporter un résultat</h1>
            {% for flashMessage in app.session.flashbag.get('success') %}
                <div class="alert alert-success">
                    {{ flashMessage }}
                </div>
            {% endfor %}

            {{ form_start(form) }}
            {{ form_errors(form) }}

            <div>
                {{ form_label(form.elected) }}
                {{ form_errors(form.elected) }}
                {{ form_widget(form.elected) }} ({{ election.numberOfElected }} élus)
            </div>

            <input type="submit" />

            {{ form_end(form) }}
        </div>
        <a href="{{ path('election_list') }}">Retourner à la liste des élections</a>
    </div>
{% endblock %}

{% block javascripts %}
{{ parent() }}
    <script src="//cdnjs.cloudflare.com/ajax/libs/select2/4.0.0/js/select2.min.js"></script>
<script>$("#appbundle_election_election_elected").select2({maximumSelectionLength: {{ election.numberOfElected }}});</script>
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link href="//cdnjs.cloudflare.com/ajax/libs/select2/4.0.0/css/select2.min.css" rel="stylesheet" />
{% endblock %}