{% extends '::base.html.twig' %}

{% block title %}Liste des textes de {{textGroup.name}}{% endblock %}
{% block javascripts %}
{{ parent() }}
<script type="text/javascript" src="{{ asset('js/jquery.tablesorter.min.js') }}"></script>
<script type="text/javascript">
$(document).ready(function()
        {
            $(".tablesorter").tablesorter({
                cssAsc: "glyphicon glyphicon-sort-by-attributes-alt",
                cssDesc: "glyphicon glyphicon-sort-by-attributes",
            }
            );
        }
        );
</script>
{% endblock %}

{% block body %}
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h1>Textes de {{ textGroup.name }}</h1>
            <p>
                {{textGroup.description | raw}}
            </p>

            {% if is_granted('create_text', textGroup) %}
            <p>
                <a href="{{ path('text_create', {group_id: textGroup.id}) }}">
                    Déposer un texte pour <em>{{ textGroup.name }}</em>
                </a>
            </p>
            {% endif %}

            {% if is_granted('report_amend', textGroup) %}
                <h2>Soumettre des amendements</h2>
                <p>
                {% for organ in reportOrgans %}
                    <a href="{{ path('amendment_submit', {text_group_id: textGroup.id, organ_id: organ.id}) }}">
                        Soumettre pour <strong>{{ organ.name }}</strong>
                    </a>
                {% endfor %}
                </p>
            {% endif %}

            {% if showVotePanel %}
            <div id="voting">
                <h2>Textes soumis à signature</h2>
                <table class="table tablesorter">
                    <thead>
                        <tr>
                            <th>Titre</th>
                            <th>Auteur</th>
                            <th>Signer</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for text in texts %}
                    {% if text.entity.status !=
                          constant('AppBundle\\Entity\\Text\\Text::STATUS_NEW') and
                          text.entity.status !=
                          constant('AppBundle\\Entity\\Text\\Text::STATUS_REJECTED')
                          %}
                        <tr>
                            <td>
                                <a href="{{ path('text_show', {group_id: textGroup.id, text_id: text.entity.id}) }}">{{ text.entity.title }}</a>
                            </td>
                            <td>
                                {{ text.entity.author.firstname }} {{ text.entity.author.lastname }}
                            </td>
                            <td>
                                {% if text.hasVoted > 0 %}
                                    <span class="glyphicon glyphicon-check" aria-hidden="true"></span>
                                    <span class="sr-only">Signée</span>
                                {% elseif text.entity.status ==
                                      constant('AppBundle\\Entity\\Text\\Text::STATUS_ADOPTED') %}
                                      Texte validé.
                                {% elseif is_granted('vote', text.entity) %}
                                    <a class="btn btn-default btn-sm"
                                       href="{{path('individual_text_vote',
                                       {group_id: textGroup.id, text_id: text.entity.id}) }}">
                                        <span class="glyphicon glyphicon-thumbs-up" aria-hidden="true"></span>
                                        <span class="sr-only">Signer</span>
                                    </a>
                                {% else %}
                                    <span class="glyphicon glyphicon-ban-circle" aria-hidden="true"></span>
                                    <span class="sr-only">Signature impossible</span>
                                {% endif %}
                            </td>
                        </tr>
                    {% endif %}
                    {% endfor %}
                    </tbody>
                </table>
            </div>
            {% endif %}

        </div><!-- .col-md-12 -->
    </div><!-- .row -->
</div><!-- .container -->
{% endblock %}
