{% extends '::base.html.twig' %}

{% block title %}Liste des textes de {{textGroup.name}}{% endblock %}
{% block javascripts %}
{{ parent() }}
<script type="text/javascript" src="{{ asset('js/jquery.tablesorter.min.js') }}"></script>
<script type="text/javascript">
$(document).ready(function() 
        { 
            $(".tablesorter").tablesorter({ 
                cssAsc: "glyphicon glyphicon-sort-by-attributes-alt",
                cssDesc: "glyphicon glyphicon-sort-by-attributes",
            } 
            ); 
        } 
        ); 
</script>
{% endblock %}

{% block body %}
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h1>Liste des textes de {{ textGroup.name }}</h1>
            <p>
            {{textGroup.description}}

            {%if reportOrgans %}
            <h2>Rapporter un vote </h2>
            {% for organ in reportOrgans %}
            <a href="{{ path('report_vote', {group_id: textGroup.id, organ_id: organ.id}) }}">
                Rapporter pour <strong>{{ organ.name }}</strong>
            </a>
            {% endfor %}
            {% endif %}
            </p>

            <div role="tabpanel">
                <ul class="nav nav-tabs" role="tablist">
                    <li role="presentation" {% if not showVotePanel %} class="active" {% endif %}>
                        <a href="#proposed" aria-controls="proposed" role="tab" data-toggle="tab">
                            Proposés 
                        </a>
                    </li>

                    {% if showVotePanel %}
                    <li role="presentation" class="active">
                        <a href="#voting" aria-controls="voting" role="tab" data-toggle="tab">
                            Soumis au vote
                        </a>
                    </li>
                    {% endif %}

                    {% if showValidatedPanel %}
                    <li role="presentation">
                        <a href="#validated" aria-controls="validated" role="tab" data-toggle="tab">
                            Validé
                        </a>
                    </li>
                    {% endif %}

                    {% if showValidatedPanel %}
                    <li role="presentation">
                        <a href="#rejected" aria-controls="rejected" role="tab" data-toggle="tab">
                            Non-Validé
                        </a>
                    </li>
                    {% endif %}
                </ul>

                <div class="tab-content">
                    <div role="tabpanel" class="tab-pane {% if not showVotePanel %}active
                    {% endif %}" id="proposed">
                        <h2>Textes proposés</h2>
                        <table class="table tablesorter">
                            <thead>
                                <tr>
                                    <th>Titre</th>
                                    <th>Auteur</th>
                                    {# <th>Pour</th> #}
                                </tr>
                            </thead>
                            <tbody>
                                {% for text in texts %}
                                {% if text.entity.status !=
                                constant('AppBundle\\Entity\\Text\\Text::STATUS_NEW')%}
                                <tr>
                                    <td>
                                        <a href="{{ path('text_show', {group_id: textGroup.id, text_id: text.entity.id}) }}">{{ text.entity.title }}</a>
                                    </td>
                                    <td>{{ text.entity.author.firstname }} {{ text.entity.author.lastname }}</td>
                                    {# <td>{% if text.entity.organ %} {{ text.entity.organ.name }} {% endif %}</td> #}
                                </tr>
                                {% endif %}
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                    {% if showVotePanel %}
                    <div role="tabpanel" class="tab-pane active" id="voting">
                        <h2>Soumis au vote</h2>
                        <table class="table tablesorter">
                            <thead>
                                <tr>
                                    <th>Titre</th>
                                    <th>Auteur</th>
                                    {# <th>Pour</th> #}
                                    {% for voteRule in textGroup.voteRules %}
                                    <th>{{voteRule.name}}</th>
                                    {% endfor %}
                                    <th>Voter</th>


                                </tr>
                            </thead>
                            <tbody>
                                {% for text in texts %}
                                {% if text.entity.status ==
                                constant('AppBundle\\Entity\\Text\\Text::STATUS_VOTING')
                                or text.entity.status ==
                                constant('AppBundle\\Entity\\Text\\Text::STATUS_ADOPTED') %}
                                <tr>
                                    <td>
                                        <a href="{{ path('text_show', {group_id: textGroup.id, text_id: text.entity.id}) }}">{{ text.entity.title }}</a>
                                    </td>
                                    <td>{{ text.entity.author.firstname }} {{ text.entity.author.lastname }}</td>
                                    {# <td>{% if text.entity.organ %} {{ text.entity.organ.name }} {% endif %}</td> #}
                                    {% for voteRule in textGroup.voteRules %}
                                    <td>{{attribute(text, 'voteFor' ~ voteRule.id )}}</td>
                                    {% endfor %}
                                    <td>
                                        {% if textGroupVoteGranted %}
                                        {% if text.hasVoted == 0 %}
                                        <a class="btn btn-default btn-sm"
href="{{path('individual_text_vote',
                                        {group_id: textGroup.id, text_id: text.entity.id}) }}">
                                            <span class="glyphicon glyphicon-thumbs-up" aria-hidden="true"></span>
                                            <span class="sr-only">Signer</span>
                                        </a>
                                        {% else %}
                                        <span class="glyphicon glyphicon-check" aria-hidden="true"></span>
                                        <span class="sr-only">Signée</span>
                                        {% endif %}
                                        {% else %}
                                        <span class="glyphicon glyphicon-ban-circle" aria-hidden="true"></span>
                                        <span class="sr-only">Signature impossible</span>
                                        {% endif %}
                                    </td>
                                </tr>
                                {% endif %}
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                    {% endif %}
                    {% if showValidatedPanel %}
                    <div role="tabpanel" class="tab-pane" id="validated">
                        <h2>Validés</h2>
                        <table class="table tablesorter">
                            <thead>
                                <tr>
                                    <th>Titre</th>
                                    <th>Auteur</th>
                                    {#<th>Pour</th>#}
                                    {% for voteRule in textGroup.voteRules %}
                                    <th>{{voteRule.name}}</th>
                                    {% endfor %}
                                </tr>
                            </thead>
                            <tbody>
                                {% for text in texts %}
                                {% if text.entity.status ==
                                constant('AppBundle\\Entity\\Text\\Text::STATUS_ADOPTED') %}
                                <tr>
                                    <td>
                                        <a href="{{ path('text_show', {group_id: textGroup.id, text_id: text.entity.id}) }}">{{ text.entity.title }}</a>
                                    </td>
                                    <td>{{ text.entity.author.firstname }} {{ text.entity.author.lastname }}</td>
                                    {# <td>{% if text.entity.organ %} {{ text.entity.organ.name }} {% endif %}</td> #}
                                    {% for voteRule in textGroup.voteRules %}
                                    <td>{{attribute(text, 'voteFor' ~ voteRule.id )}}</td>
                                    {% endfor %}
                                </tr>
                                {% endif %}
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                    {% endif %}
                    {% if showValidatedPanel %}
                    <div role="tabpanel" class="tab-pane" id="rejected">
                        <h2>Non-Validés</h2>
                        <table class="table tablesorter">
                            <thead>
                                <tr>
                                    <th>Titre</th>
                                    <th>Auteur</th>
                                    {#<th>Pour</th>#}
                                    {% for voteRule in textGroup.voteRules %}
                                    <th>{{voteRule.name}}</th>
                                    {% endfor %}
                                </tr>
                            </thead>
                            <tbody>
                                {% for text in texts %}
                                {% if text.entity.status ==
                                constant('AppBundle\\Entity\\Text\\Text::STATUS_REJECTED') %}
                                <tr>
                                    <td>
                                        <a href="{{ path('text_show', {group_id: textGroup.id, text_id: text.entity.id}) }}">{{ text.entity.title }}</a>
                                    </td>
                                    <td>{{ text.entity.author.firstname }} {{ text.entity.author.lastname }}</td>
                                    {# <td>{% if text.entity.organ %} {{ text.entity.organ.name }} {% endif %}</td> #}
                                    {% for voteRule in textGroup.voteRules %}
                                    <td>{{attribute(text, 'voteFor' ~ voteRule.id )}}</td>
                                    {% endfor %}
                                </tr>
                                {% endif %}
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                    {% endif %}
                </div>
            </div>
        </div><!-- .col-md-12 -->
    </div><!-- .row -->
</div><!-- .container -->
{% endblock %}
