{% extends '::base.html.twig' %}

{% block title %}Procès verbal du vote: <em>{{ textGroup.name }}</em> au nom de {{ organ.name }}{% endblock %}

{% block body %}
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h1>Procès verbal du comité: <em>{{ textGroup.name }}</em> au nom de <em>{{ organ.name }}</em></h1>
            {%if errors %}

            <div class="alert alert-danger text-justify" role="alert">
                {% for error in errors %}
                <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true">
                </span>
                <strong> 
                    {{error}}
                </strong> 
                <br/>
                {% endfor %}
            </div>

            {% endif %}
            <div class="col-md-6">
                {{ form_start(form) }}
                {{form_row(form.meetingDate)}}
                {{form_row(form.voteTotal)}}
                {{form_row(form.voteBlank)}}
                {{form_row(form.voteAbstention)}}
                {{form_row(form.voteNotTakingPart)}}
                {% for textVote in form.textVoteAgregations %}
                <h3>{{ textVote.vars.data.text.title }}</h3> 
                {{ form_row(textVote.voteFor) }}
                {% endfor %}

                <p>
                Il n'est pas possible d'annuler cette opération.
                </p>

                {{form_widget(form.submit)}} <a class="btn btn-default" href="{{ path('text_list', {group_id: textGroup.id} ) }}">Annuler</a>
                {{form_rest(form)}}
                {{ form_end(form) }}
            </div>
        </div>
    </div>
</div>
{% endblock %}
