{% extends '::base.html.twig' %}

{% block title %}{{textGroup.name}} - {{ text.title }}{% endblock %}

{% block body %}
<div class="container">
    <div class="row">
        <h1>{{textGroup.name}} - {{ text.title }}</h1>
        <p class="small text-muted">
        Auteur :
        {{ text.author.firstname }} {{ text.author.lastname }}
        </p>
        <p class="small text-muted">
        Déposant :
        {{ text.depositor.firstname }} {{ text.depositor.lastname }}
        </p>
        <div class="text-justify">{{ text.rawContent | raw }}</div>

        <hr />

        <h1>Signataires</h1>
        {% if text.adherentVotes is not empty %}
        <ul>
            {% for vote in text.adherentVotes %}
            <li>
                {{ vote.author.firstname }} {{ vote.author.lastname }} - {{ vote.author.departement }}
            </li>
            {% endfor %}
        </ul>
        {% else %}
        <p>
            Aucun signataire.
        </p>
        {% endif %}
    </div>
</div>
{% endblock %}
