{% extends '::base.html.twig' %}
{% block title %}Liste des instances de {{adherent.firstname}} {{ adherent.lastname }}{% endblock %}
{% block javascripts %}
{{ parent() }}
<script type="text/javascript" src="{{ asset('js/jquery.tablesorter.min.js') }}"></script>
<script type="text/javascript">
$(document).ready(function() 
        { 
            $(".tablesorter").tablesorter({ 
                cssAsc: "glyphicon glyphicon-sort-by-attributes-alt",
                cssDesc: "glyphicon glyphicon-sort-by-attributes",
            } 
            ); 
        } 
        ); 
</script>
{% endblock %}

{% block body -%}
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h1>Liste des instances auxquelles participe {{ adherent.firstname }} {{ adherent.lastname}}</h1>
            <table class="table tablesorter">
                <thead>
                    <tr>
                        <th>Type</th>
                        <th>Nom</th>
                        <th>Description</th>
                    </tr>
                </thead>
                <tbody>
                    {% for entity in entities %}
                    <tr>
                        <td>{{ entity.organType.name }}</td>
                        <td><a href="{{ path('organ_show', { 'organ_id': entity.id }) }}">{{ entity.name }}</a></td>
                        <td>{{ entity.description }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
         
        </div><!-- .col-md-12 -->
    </div><!-- .row -->
</div><!-- .container -->
{% endblock %}
