{% extends '::base.html.twig' %}
{% block title %} {{entity.name}} {% endblock %}

{% block body -%}
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h1>{{ entity.name }}</h1>
            <p>{{entity.description}}</p>
            <hr />
            <h2>Procès verbaux</h2>

            <table class="table tablesorter">
                <thead>
                    <tr>
                        <th>Groupe de Texte</th>
                    </tr>
                </thead>
                <tbody>
                    {% for voteReport in entity.textVoteReports %}
                    <tr>
                        </td>
                        <td><a href="{{ path('vote_report_show', {group_id: voteReport.textGroup.id, organ_id: entity.id}) }}">
                                {{voteReport.textGroup.name }}</a>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div><!-- .col-md-12 -->
    </div><!-- .row -->
</div><!-- .container -->
{% endblock %}
