{% block contribution_list %}

{% if contribs is empty %}
    {% block contribution_empty %}
    <p>Aucune contribution validée.</p>
    {% endblock %}
{% else %}
<table class="table tablesorter">
    <thead>
        <tr>
            {% block th_contribution_validated %}
            <th>&nbsp;</th>
            {% endblock %}
            <th>Titre</th>
            <th>Auteur</th>
            <th>Type de dépôt</th>
            {% block th_contribution_votes %}
            {% endblock %}
        </tr>
    </thead>
    <tbody>
    {% for contrib in contribs %}
        <tr>
            {% block td_contribution_validated %}
            <td>
                <span class="glyphicon glyphicon-check" aria-hidden="true"></span>&nbsp;Validée
            </td>
            {% endblock %}
            <td>
                <a href="{{ path('contribution_view', {id: contrib.entity.id}) }}">
                    {{ contrib.entity.title }}
                </a>
            </td>
            <td>{{ contrib.entity.author.profile.firstname }} {{ contrib.entity.author.profile.lastname }}</td>
            <td>
                {% if contrib.entity.depositType == constant('DEPOSIT_TYPE_INDIVIDUAL', contrib.entity) %}
                    individuel
                {% endif %}
                {% if contrib.entity.depositType == constant('DEPOSIT_TYPE_SEN', contrib.entity) %}
                    pour le Secrétariat Exécutif National
                {% endif %}
                {% if contrib.entity.depositType == constant('DEPOSIT_TYPE_COMMISSION', contrib.entity) %}
                    pour la commission {{ contrib.entity.depositTypeValue }}
                {% endif %}
            </td>
            {% block td_contribution_votes %}
            {% endblock %}
        </tr>
    {% endfor %}
    </tbody>
</table>
{% endif %}
{% endblock %}
