{% extends '::base.html.twig' %}

{% block title %}Liste des Contributions{% endblock %}
{% block javascripts %}
{{ parent() }}
<script type="text/javascript" src="{{ asset('js/jquery.tablesorter.min.js') }}"></script>
<script type="text/javascript">
    $(document).ready(function() {
        $(".tablesorter").tablesorter({
            cssAsc: "glyphicon glyphicon-sort-by-attributes-alt",
            cssDesc: "glyphicon glyphicon-sort-by-attributes",
        });
    });
</script>
{% endblock %}

{% block body %}
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h1>Liste des contributions</h1>
            <div role="tabpanel">
                <ul class="nav nav-tabs" role="tablist">
                    <li role="presentation" class="active">
                        <a href="#validated" aria-controls="validated" role="tab" data-toggle="tab">
                            Contributions validées
                        </a>
                    </li>
                    <li role="presentation">
                        <a href="#signatures" aria-controls="signatures" role="tab" data-toggle="tab">
                            Contributions soumises à signatures
                        </a>
                    </li>
                </ul>
                <div class="tab-content">
                    <div role="tabpanel" class="tab-pane active" id="validated">
                        <h2>Contributions générales validées</h2>
                        {{ include('contribution/list_validated_contributions.html.twig', {
                                'contribs' : generalClosedContribs,
                                'title' : 'Contribution générale'
                            })
                        }}
                        <h2>Contributions thématiques validées</h2>
                        {{ include('contribution/list_validated_contributions.html.twig', {
                                'contribs' : thematicClosedContribs,
                                'title' : 'Contribution thématique'
                            })
                        }}
                        <h2>Contributions statutaires validées</h2>
                        {{ include('contribution/list_validated_contributions.html.twig', {
                                'contribs' : statuteClosedContribs,
                                'title' : 'Contribution statutaire'
                            })
                        }}
                    </div>

                    <div role="tabpanel" class="tab-pane" id="signatures">
                        <h2>Contributions générales soumises à signature</h2>
                        {{ include('contribution/list_opened_contributions.html.twig', {
                                'contribs' : generalOpenContribs,
                                'title' : 'Contribution générale'
                            })
                        }}

                        <h2>Contributions thématiques soumises à signature</h2>
                        {{ include('contribution/list_opened_contributions.html.twig', {
                                'contribs' : thematicOpenContribs,
                                'title' : 'Contribution thématique'
                            })
                        }}

                        <h2>Contributions statutaires soumises à signature</h2>
                        {{ include('contribution/list_opened_contributions.html.twig', {
                                'contribs' : statuteOpenContribs,
                                'title' : 'Contribution statutaire'
                            })
                        }}

                    </div>
                </div>
            </div>
        </div><!-- .col-md-12 -->
    </div><!-- .row -->
</div><!-- .container -->
{% endblock %}
