{% extends '::base.html.twig' %}

{% block title %}Liste des Contributions{% endblock %}
{% block javascripts %}
{{ parent() }}
<script type="text/javascript" src="{{ asset('js/jquery.tablesorter.min.js') }}"></script>
<script type="text/javascript">
    $(document).ready(function() {
        $(".tablesorter").tablesorter({
            cssAsc: "glyphicon glyphicon-sort-by-attributes-alt",
            cssDesc: "glyphicon glyphicon-sort-by-attributes",
        });
    });
</script>
{% endblock %}

{% block body %}
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h1>Liste des contributions</h1>
            <div role="tabpanel">
                <ul class="nav nav-tabs" role="tablist">
                    <li role="presentation" class="active">
                        <a href="#general-contrib" aria-controls="general-contrib" role="tab" data-toggle="tab">
                            Contributions générales
                        </a>
                    </li>
                    <li role="presentation">
                        <a href="#thematic-contrib" aria-controls="thematic-contrib" role="tab" data-toggle="tab">
                            Contributions thématiques
                        </a>
                    </li>
                    <li role="presentation">
                        <a href="#statute-contrib" aria-controls="statute-contrib" role="tab" data-toggle="tab">
                            Contributions statutaires
                        </a>
                    </li>
                </ul>
                <div class="tab-content">
                    <div role="tabpanel" class="tab-pane active" id="general-contrib">
                        <h2>Contributions générales validées</h2>
                        {{ include('contribution/list_validated_contributions.html.twig', {
                                'contribs' : generalClosedContribs
                            })
                        }}

                        <h2>Contributions générales soumises à signature</h2>
                        <p>
                            <a href="{{ path('downloads', { filename : 'Projets de contribution générale.pdf' }) }}">
                                Télécharger toutes les projets de contributions générales en PDF.
                            </a>
                        </p>
                        {{ include('contribution/list_opened_contributions.html.twig', {
                                'contribs' : generalOpenContribs
                            })
                        }}
                    </div>
                    <div role="tabpanel" class="tab-pane" id="thematic-contrib">
                        <h2>Contributions thématiques validées</h2>
                        {{ include('contribution/list_validated_contributions.html.twig', {
                                'contribs' : thematicClosedContribs
                            })
                        }}

                        <h2>Contributions thématiques soumises à signature</h2>
                        <p>
                            <a href="{{ path('downloads', { filename : 'Projets de contribution thématique.pdf' }) }}">
                                Télécharger tous les projets de contributions thématiques en PDF.
                            </a>
                        </p>
                        {{ include('contribution/list_opened_contributions.html.twig', {
                                'contribs' : thematicOpenContribs
                            })
                        }}
                    </div>
                    <div role="tabpanel" class="tab-pane" id="statute-contrib">
                        <h2>Contributions statutaires soumises validées</h2>
                        {{ include('contribution/list_validated_contributions.html.twig', {
                                'contribs' : statuteClosedContribs
                            })
                        }}

                        <h2>Contributions statutaires soumises à signature</h2>
                        <p>
                            <a href="{{ path('downloads', { filename : 'Projets de contribution statutaire.pdf' }) }}">
                                Télécharger tous les projets de contributions statutaires en PDF.
                            </a>
                        </p>
                        {{ include('contribution/list_opened_contributions.html.twig', {
                                'contribs' : statuteOpenContribs
                            })
                        }}
                    </div>
                </div>
            </div>
        </div><!-- .col-md-12 -->
    </div><!-- .row -->
</div><!-- .container -->
{% endblock %}
