{% extends '::base.html.twig' %}

{% block title %}Mes contributions{% endblock %}

{% block body %}
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h1>Listes de mes contributions</h1>
            {% if generalContrib is null and thematicContribs is empty and statuteContribs is empty %}
                <p>Pas de contribution envoyée.</p>
            {% else %}
                <table class="table">
                    <tr>
                        <th>Type</th><th>Titre</th><th>Supprimer</th>
                    </tr>
                    {% if generalContrib is not null %}
                        <tr>
                            <td>Contribution générale</td>
                            <td>
                                <a href="{{ path('contribution_view', {id: generalContrib.id}) }}">{{ generalContrib.title }}</a>
                            </td>
                            <td>
                                <a class="btn btn-default btn-sm" href="{{ path('contribution_delete', {id: generalContrib.id}) }}">
                                    <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
                                    <span class="sr-only">Supprimer</span>
                                </a>
                            </td>
                        </tr>
                    {% endif %}
                    {% if thematicContribs is not empty %}
                        {% for contrib in thematicContribs %}
                            <tr>
                                <td>Contribution thématique</td>
                                <td>
                                    <a href="{{ path('contribution_view', {id: contrib.id}) }}">{{ contrib.title }}</a>
                                </td>
                                <td>
                                    <a class="btn btn-default btn-sm" href="{{ path('contribution_delete', {id: contrib.id}) }}">
                                        <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
                                        <span class="sr-only">Supprimer</span>
                                    </a>
                                </td>
                            </tr>
                        {% endfor %}
                    {% endif %}
                    {% if statuteContribs is not empty %}
                        {% for contrib in statuteContribs %}
                            <tr>
                                <td>Contribution statutaires</td>
                                <td>
                                    <a href="{{ path('contribution_view', {id: contrib.id}) }}">{{ contrib.title }}</a>
                                </td>
                                <td>
                                    <a class="btn btn-default btn-sm" href="{{ path('contribution_delete', {id: contrib.id}) }}">
                                        <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
                                        <span class="sr-only">Supprimer</span>
                                    </a>
                                </td>
                            </tr>
                        {% endfor %}
                    {% endif %}
                </table>
                <p>
                    Pour modifier une contribution, il suffit simplement de la supprimer et d'envoyer la nouvelle version.
                </p>
            {% endif %}
        </div><!-- .col-md-12 -->
    </div><!-- .row -->
</div><!-- .container -->
{% endblock %}
