{% extends '::base.html.twig' %}

{% block title %}{{ contrib.title }}{% endblock %}

{% block body %}
<div class="container">
    <div class="row">
        <h1>{{ contrib.title }}</h1>
        <p class="small text-muted">
            Type :
            {% if 'general' == type %}contribution générale{% endif %}
            {% if 'thematic' == type %}contribution thématique{% endif %}
            |
            Auteur :
            {{ contrib.author.profile.firstname }} {{ contrib.author.profile.lastname }}
        </p>
        <p>
        {{ contrib.content|raw }}
        </p>

        {% if is_granted('CALENDAR_contribution_vote') %}
            <h3>Signatures</h3>
            <p>
                {% if votes.uservote %}
                    Déja signée <span class="glyphicon glyphicon-check" aria-hidden="true"></span> |
                {% elseif is_granted('vote', contrib) %}
                    <a class="btn btn-default btn-sm" href="{{path('contribution_vote', {id: contrib.id}) }}">
                        Signer
                        <span class="glyphicon glyphicon-thumbs-up" aria-hidden="true"></span>
                    </a><br/>
                {% endif %}
                Signatures : {{ votes.adhvote }} |
                Dont CN : {{ votes.cnvote }}
            </p>
            <p>
                {% if contrib.votes is not empty %}
                    <h4>Signataires</h4>
                    <ul>
                        {% for user in contrib.votes %}
                            <li>
                            {{ user.profile.firstname }} {{ user.profile.lastname }}
                            {% for instance in user.profile.instances%}
                                {% if instance.name is constant('AppBundle\\Entity\\Instance::INSTANCE_CN') %}
                                    (CN)
                                {% endif %}
                                {% if instance.name is constant('AppBundle\\Entity\\Instance::INSTANCE_SN') %}
                                    (SEN)
                                {% endif %}
                            {% endfor %}
                            </li>
                        {% endfor %}
                    </ul>
                {% endif %}
            </p>
        {% endif %}
    </div>
</div>
{% endblock %}
