{% extends '::base.html.twig' %}

{% block title %}{{ contrib.title }}{% endblock %}

{% block body %}
<div class="container">
    <div class="row">
        <h1>{{ contrib.title }}</h1>
        <p class="small text-muted">
            Type :
            {% if 'general' == type %}contribution générale{% endif %}
            {% if 'thematic' == type %}contribution thématique{% endif %}
            |
            Auteur :
            {{ contrib.author.profile.firstname }} {{ contrib.author.profile.lastname }}
        </p>
        <p>{{ contrib.content|nl2br }}</p>
        <p>
{% if is_granted('vote', contrib, app.user) %}
            <a class="btn btn-default btn-sm" href="{{path('contribution_vote', {id: contrib.id}) }}">
            <span class="glyphicon glyphicon-thumbs-up" aria-hidden="true"></span>
{% else %}
            <span class="glyphicon glyphicon-ban-circle" aria-hidden="true"></span>
{% endif %}
            <span class="sr-only">Voter</span>

        <p>
    </div>
</div>
{% endblock %}
