{% extends '::base.html.twig' %}

{% block title %}{{ contrib.title }}{% endblock %}

{% block body %}
<div class="container">
    <div class="row col-md-8">
        <h1>{{ contrib.title }}</h1>
        <p class="small text-muted">
            Type :
            {% if 'general' == type %} Contribution générale {% endif %}
            {% if 'thematic' == type %} Contribution thématique {% endif %}
            {% if 'statute' == type %} Contribution statutaire {% endif %}
            &nbsp;|&nbsp;
            {% if contrib.depositType == constant('DEPOSIT_TYPE_INDIVIDUAL', contrib) %}
                Contribution individuelle de
                {{ contrib.author.profile.firstname }}
                {{ contrib.author.profile.lastname }}
                ({{ contrib.author.profile.departement }})
            {% endif %}
            {% if contrib.depositType == constant('DEPOSIT_TYPE_SEN', contrib) %}
                Contribution de
                {{ contrib.author.profile.firstname }}
                {{ contrib.author.profile.lastname }}
                ({{ contrib.author.profile.departement }})
                pour le Secrétariat Exécutif National
            {% endif %}
            {% if contrib.depositType == constant('DEPOSIT_TYPE_COMMISSION', contrib) %}
                Contribution de
                {{ contrib.author.profile.firstname }}
                {{ contrib.author.profile.lastname }}
                ({{ contrib.author.profile.departement }})
                pour la commission {{ contrib.depositTypeValue }}
            {% endif %}
        </p>
        <p>
        {{ contrib.content|raw }}
        </p>

        {% if is_granted('CALENDAR_contribution_vote') %}
            <h3>Signatures</h3>
            <p>
                {% if votes.uservote %}
                    Déja signée <span class="glyphicon glyphicon-check" aria-hidden="true"></span> |
                {% elseif is_granted('vote', contrib) %}
                    <a class="btn btn-default btn-sm" href="{{path('contribution_vote', {id: contrib.id}) }}">
                        Signer
                        <span class="glyphicon glyphicon-thumbs-up" aria-hidden="true"></span>
                    </a><br/>
                {% endif %}
            </p>
            <p>
                Signatures : {{ votes.adhvote }} |
                Dont CN : {{ votes.cnvote }}
            </p>
            <p>
                {% if contrib.votes is not empty %}
                    <h4>Signataires</h4>
                    <ul>
                        {% for user in contrib.votes %}
                            <li>
                            {{ user.profile.firstname }} {{ user.profile.lastname }} - {{ user.profile.departement }}
                            {% for adhResponsability in user.profile.responsabilities %}
                                {% if adhResponsability.responsability.name is constant('AppBundle\\Entity\\Responsability::INSTANCE_CN') %}
                                    (CN)
                                {% endif %}
                                {% if adhResponsability.responsability.name is constant('AppBundle\\Entity\\Responsability::INSTANCE_SN') %}
                                    (SEN)
                                {% endif %}
                            {% endfor %}
                            </li>
                        {% endfor %}
                    </ul>
                {% endif %}
            </p>
        {% endif %}
    </div>
</div>
{% endblock %}
